

.grid {
    justify-content: center;
    padding: 50px
}

.tag-list{


}


.tag{
    padding: 5px 15px;
    border-radius: 25px;
    
    font-weight: 600;
    display: inline-block;
    margin: 2px;
}


#age{
    background-color: #3d405b;
    color: white;
    


}

#grade_level{
    background-color: #f2cc8f;

   
}

#length{
    background-color: #81b29a;
    color: white;
}
#topic{
    background-color: #e07a5f;
    color: white;
}
#details{
    background-color: #f4f1de;
}

.explore-content {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: scroll;


}

.header {
    text-align: center;
    margin-top: 25px;
}

.sub-header{
    text-align: center;
}