.register-form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f1de;
    padding: 50px 200px;

    .title{
        margin-bottom: 50px;
        text-align: center;
    }

    .header{
        text-align: center;
        margin-top: 25px;
    }

    .form{
        padding: 50px;
    }
}