
.story-display{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  background-color: blanchedalmond;
  border: 2px solid purple;
  padding: 50px;


  .content {
    flex-grow: 1;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    border: 2px solid green;
    padding: 50px;
    border-radius: 2%
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    padding: 25px;
  }


}
