
.story-display{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  background-color: #f4f1de;
  padding: 50px;


  .content {
    flex-grow: 1;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    overflow-y: auto; /* Adds vertical scrollbar when necessary */

  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }


}
