.story-view-display {

    .story-display{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 150px);
        background-color: #f4f1de;
        padding: 50px;


    .story-view-content{
        padding: 0;
    
        .reading{
            display: flex;
            align-items: center;
            justify-content: center;
        
            .img {
                width: 50%;
                height: 100%;
            }
        
            .carousel{
                padding: 10px;
                justify-content: center;
                align-items: center;
                border: "2px solid pink";
                width: 50%
            }
            .paragraph {
                padding: 0px 40px;
            }
        }
    }
}


}
